*{
    margin: 0;
    padding: 0;
}

.pai{
    
    margin-top: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
    
}

.filho{
    position: absolute;
    top: 20px;
    left: 35vw;
}
.logotipo img{
    margin-left: 360px;
    margin-right: 200px;
    width: 10vw;
    height: 10vh;
    
}


#titulo h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 30px;
    text-align: center;

}

#titulo p{
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    margin-left: 30px;
    text-align: center;

}



.icone1 img {
    align-items: center;
}

.input{
    width: 20vw;
    height:10vh;
    }
